<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DefaultCommandButtonsEnabled" value="0"/>
		<add key="DefaultInputDirectory" value=""/>
		<add key="DefaultXMLInputFileName" value="20230801-tns-blog.xml"/>
		<add key="DefaultHTMLInputFileName" value="20230801-tns-blog-BlogBook.html"/>
		<add key="DefaultIndexListFileName" value="20230801-tns-blog-Index-List.txt"/>
		<add key="BlogBookFooterFileName" value="BlogBook-Footer-Text.html"/>
		<add key="PromptAfterNumFilesWritten" value="10"/>
		<add key="DefaultInternetBrowserFilename" value="chrome"/>
		<add key="UserGuideURL" value="https://ravisiyermisc.blogspot.com/2023/09/short-user-guide-to-creating-blogger.html"/>
		<add key="TestButtonsVisible" value="0"/>
		<add key="TestInputDirectory" value="SmallSplitTestData"/>

	</appSettings>
</configuration>
